include /path/to/nano/share/nano/asm.nanorc
include /path/to/nano/share/nano/c.nanorc
include /path/to/nano/share/nano/fortran.nanorc
include /path/to/nano/share/nano/html.nanorc
include /path/to/nano/share/nano/mutt.nanorc
include /path/to/nano/share/nano/ocaml.nanorc
include /path/to/nano/share/nano/php.nanorc
include /path/to/nano/share/nano/ruby.nanorc
include /path/to/nano/share/nano/tex.nanorc
include /path/to/nano/share/nano/awk.nanorc
include /path/to/nano/share/nano/css.nanorc
include /path/to/nano/share/nano/gentoo.nanorc
include /path/to/nano/share/nano/java.nanorc
include /path/to/nano/share/nano/man.nanorc
include /path/to/nano/share/nano/nanorc.nanorc
include /path/to/nano/share/nano/patch.nanorc
include /path/to/nano/share/nano/pov.nanorc
include /path/to/nano/share/nano/sh.nanorc
include /path/to/nano/share/nano/xml.nanorc
include /path/to/nano/share/nano/cmake.nanorc
include /path/to/nano/share/nano/debian.nanorc
include /path/to/nano/share/nano/groff.nanorc
include /path/to/nano/share/nano/makefile.nanorc
include /path/to/nano/share/nano/mgp.nanorc
include /path/to/nano/share/nano/objc.nanorc
include /path/to/nano/share/nano/perl.nanorc
include /path/to/nano/share/nano/python.nanorc
include /path/to/nano/share/nano/tcl.nanorc
